:root {
    --BLACK: #000000;
    --WHITE: #ffffff;
    --LGRAY: #817c84;
    --GRAY: #454144;
    --DGRAY: #161416;
    --PURPLE: #8a2148;
    --DPURPLE: #511045;
}

@font-face {
    font-family: 'TitleFont';
    src: url('./fonts/alagard.ttf');
}

@font-face {
    font-family: 'Zeppfont';
    src: url('./fonts/PIXEARG_.TTF');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Zeppfont';
}

html {
    height: 100%;
}

body {
    background-color: var(--BLACK);
    width: fit-content;
    display: flex;
    margin: 0;
    min-width: 100%;
    height: 100%;
    position: absolute;
    scrollbar-color: #aaa transparent;
    scrollbar-width: thin;
}

.mainContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

header {
    /* position: fixed; */
    width: 100%;
    background-color: var(--DGRAY);
    color: var(--DPURPLE);
    text-align: center;
    /* border: 1px solid blue; */
}

h1 {
    max-height: 50px;
    font-size: 48px;
    font-family: 'TitleFont';
}

h2 {
    color: var(--PURPLE);
    font-size: 32px;
    font-family: 'TitleFont';
}

p {
    margin: 14px;
    font-size: 12px;
}

.content {
    /* margin-top: 100px; */
    flex-grow: 1;
    background-color: var(--DGRAY);
    color: var(--WHITE);
    padding: 10px;
}

footer {
    background-color: var(--BLACK);
    color: var(--LGRAY);
    display: flex;
    flex-direction: row;
    /* border: 1px solid blue; */
}


.infos {
    padding-left: 10px;
    flex: 25%;
    flex: 2;
}

.social {
    padding-right: 10px;
    text-align: end;
    flex: 1;
}

@media (max-width: 800px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    .infos {
        flex: 1;
    }

    .social {
        flex: 1;
        text-align: center;
    }
}

a {
    text-decoration: none;
    color: var(--PURPLE);
}

a:hover {
    color: var(--LGRAY);
}


/* Sidebar */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--BLACK);
    padding-left: 10px;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav a {
    height: 100%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--DPURPLE);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--PURPLE);
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav.active {
    left: 0;
}

.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 45px;
    height: 5px;
    background-color: var(--LGRAY);
    margin: 6px 0;
}
/* fin sidebar */

/*
#wrap:not(:target) {
    transform: translate3d(-335px, 0, 0);
}

#wrap:target {
    transform: translate3d(0, 0, 0);
}*/

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--DPURPLE);
    border-radius: 8px;
}